.header {
    padding: 15px;
    text-align: center;
    background: orange;
    color: white;
    font-size: 20;
    opacity: 0; /* set opacity to 0 */
    animation-name: fade-in; /* set animation name */
    animation-duration: 1s; /* set animation duration */
    animation-fill-mode: forwards; /* keep opacity at 1 after animation ends */
}

.title {
    padding: 0px;
    text-align: center;
    background: orange;
    color: white;
    font-size: 16;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

ul {
    list-style-type: none;
    background-color: purple;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: aqua;
}

/* Define the fade-in animation */
@keyframes fade-in {
    from { opacity: 0; } /* set opacity from 0 to 1 */
    to { opacity: 1; }
}