{% extends 'gdrp/base.html' %}

{% block content %}
<div id="sidebar">
  <h1>Brought to you by Team 04</h1>
  <div class="sidebarfooter"></div>
  <div id="sidebar_bottom"></div>
  <p>Hunter Bond</p>
  <p>Timothy Lau</p>
  <p>Alexander Tedrow</p>
  <p>John Wright</p>
  <p>Cameron Kimmer</p>
</div>

<div id="content">
  <h1><a href="#" id="intro"></a>Introduction</h1>
  <p></p>
  <p>Welcome to the Good Driver Incentive Program! Created by Hunter Bond, Timothy Lau, Cameron Kimmer, Alexander Tedrow, and John Wright.</p>
</div>


  <div id="footer">
    <p></p>
  </div>
</body>
</html>

{% endblock %}

