{% extends 'gdrp/base.html' %}
  {% block content %}
    <div id="sidebar">
      <h1>Hello!</h1>
      <div class="sidebarfooter">
        <p>{{ user.first_name}} {{user.last_name}}</p>
      </div>
      <div id="sidebar_bottom"></div>
    </div>

    <div id="content">
      <h1><a href="#" id="intro"></a>Introduction</h1>
      <p></p>
      <p>Welcome to the Good Driver Incentive Program! Created by Hunter Bond, Timothy Lau, Cameron Kimmer, Alexander Tedrow, and John Wright.</p>
    </div>

  </div>

  <div id="footer">
    <p></p>
  </div>
{% endblock %}