{% extends 'gdrp/base.html' %}

{% block content %}
<html>
<head>
	<title>Reset Password</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
		<h2>Reset Password</h2>
		<form action="dashboard.html" method="post">
			<label for="current-password">Current Password</label>
			<input type="password" id="current-password" name="current-password" required>

			<label for="new-password">New Password</label>
			<input type="password" id="new-password" name="new-password" minlength="8" pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]" required>

			<label for="confirm-new-password">Confirm New Password</label>
			<input type="password" id="confirm-new-password" name="confirm-new-password" minlength="8" pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]" required>

			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>

{% endblock %}