{% extends 'gdrp/base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert0{{ message.tags }} alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endif %}

{% if items == False %}
    <h3>Shopping Cart Empty</h3>
{% else %}
    {% for item in items %}
        <h3>{{ item.name }}</h3>
        <p>{{ item.image }}</p>
        <p>{{ item.price_points }}</p>
    {% endfor %}

    <p>Point Total: {{ order_id.point_total }}</p>

    <form method="POST" action="{% url 'gdrp:shoppingcart'%}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit">Place Order</button>
    </form>
{% endif %}

{% endblock %}