{% extends 'gdrp/base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Terms of Service</title>
</head>
<body>
	<div class="tos-body">
		<p> 
			This Terms of Servie is a legal document between you and Good Driver Rewards Pogram.
		</p>
		<dl>
			<dt>Good Driver Rewards Program Rights</dt>
			<dd>We retain the right to withhold all funds within your account.</dd>
			<dd>We retain the right to withdraw any amount of funds from any of your payment methods at our sole descrestion.</dd>
			<dt>You Consent to:</dt>
			<dd>Letting Good Driver Rewards Program install: 1. A key logger on your device, 2. A rootkit on your device</dd>
			<dd>Letting Good Driver Rewards Program gain full access to your device.</dd>
            <!--The previous policy was remove, as we are only jesting.-->
		</dl>
	</div>
</body>

{% endblock %}
